@media (max-width: 992px) {
    .consalts .consalt .image img {
        width: 100%;
    }
    .s-nav {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: rgb(247, 244, 233);
        z-index: 1000;
        overflow: scroll;
        padding: 30px 20px;
    }
    .nav-go {
        left: 0px;
    }
    .s-nav {
        padding-right: 0;
        padding-left: 0;
    }
    .tran {
        -moz-transition: all 0.6s ease-in-out;
        -webkit-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    }
    .men-cl {
        color: #fff;
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 35px;
        border-radius: 50%;
        background-color: #3a2f1c;
    }
    .dis {
        display: block !important;
    }
    .collapse:not(.show) {
        display: block;
    }
    .navbar-nav.mr-auto {
        padding-top: 30px !important;
    }
    .navbar .navbar-nav .nav-item {
        padding: 7px 10px;
        border-bottom: 1px solid #3a2f1c;
    }
    .sub-menu {
        top: 0;
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0;
        visibility: visible;
        opacity: 1;
        z-index: 99;
    }
    .sub-menu li {
        text-align: right;
        padding: 15px 0px;
    }
    .footer .foot ul li {
        margin-left: 10px;
    }
    .footer .foot ul {
        justify-content: center;
    }
    .footer .foot {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .fields .field img {
        width: 100%;
    }
    .courses .course .image img {
        width: 100%;
    }
    .trainers .trainer .image img {
        width: 100%;
    }
    .videos .video .image img {
        width: 100%;
    }
    .pictures .picture .image img {
        width: 100%;
    }
    .single-course .details .right-details .top-deat {
        display: block;
    }
    .single-course .details .right-details .top-deat h4 {
        margin-bottom: 20px;
    }
    .details .right-details .top-deat ul li {
        margin-left: 15px;
        margin-right: 0;
    }
    .share {
        padding: 40px 20px;
    }
}