@font-face {
    font-family: "ns-bold";
    src: url("../fonts/NeoSansArabic-Bold.ttf");
}

@font-face {
    font-family: "ns-regular";
    src: url("../fonts/NeoSansArabic.ttf");
}

@font-face {
    font-family: "ns-light";
    src: url("../fonts/NeoSansArabic-Light.ttf");
}


/* ================================================ */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "ns-regular";
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button:focus {
    box-shadow: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ns-bold";
}

.center-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.owl-carousel {
    position: relative;
}

.owl-header .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0;
    background: #707070;
}

.owl-theme .owl-dots {
    position: absolute;
    left: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #3cbee5;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 18px;
}

.scroll {
    overflow: hidden;
}

.dis {
    display: none;
}

.back-white {
    background: #fff !important;
}

.main-title {
    text-align: center;
    position: relative;
    padding-bottom: 65px;
}

.main-title h4::after {
    content: url("../images/icon.png");
    width: 28px;
    height: 28px;
    top: -26px;
    right: 0;
    position: absolute;
    display: inline-block;
}

.main-title h4 {
    color: #3a2f1c;
    font-family: "ns-bold";
    font-size: 20px;
    margin-bottom: 0;
    display: table;
    margin: 10px auto;
    position: relative;
}

.show-all {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.show-all a {
    color: #3a2f1c;
    font-weight: 700;
    position: relative;
    font-size: 16px;
}

.show-all a::before {
    content: "\f0a5";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: #3a2f1c;
    font-size: 17px;
    margin-right: -25px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.show-all a:after {
    content: "\f0a4";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: #3a2f1c;
    font-size: 17px;
    margin-right: 5px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.show-all a:hover:before,
.show-all a:hover:after {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.load {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0px;
    left: 0px;
    background: #fcc241;
}

.load-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-img {
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.top-img img {
    width: 120px;
}

.payment .top-img img {
    width: 150px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sign-up .top-img img {
    width: 150px;
    margin-bottom: 0px;
    margin-top: 80px;
}

.login .top-img img {
    width: 150px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.top-img h3 {
    font-size: 32px;
    color: #3a2f1c;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-img p {
    color: #bbbbbb;
}

.my-form {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.my-form h3 {
    font-size: 32px;
    color: #7ED957;
    margin-bottom: 40px;
}

.my-form p {
    color: #bbbbbb;
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 25px;
}

.my-form p a {
    color: #7ED957;
    text-decoration: none;
}

.my-form .form-group {
    margin-bottom: 25px;
    position: relative;
}

.my-form .flex-inputs {
    display: flex;
}

.my-form .flex-inputs .form-control {
    margin: 0 10px;
}

.my-form .form-group.have-icon .form-control {
    padding-right: 29px;
}

.my-form .form-group.have-icon i {
    position: absolute;
    right: 5px;
    top: 12px;
}

.my-form .form-group .input-group {
    padding: 0px 0px 0 15px;
}

.my-form .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #bbbbbb;
    height: 42px;
}

.foot-form .top-logo img {
    margin-bottom: 30px;
    width: 115px;
}

.foot-form .top-logo h4 {
    margin-bottom: 30px;
    font-size: 17px;
}

.foot-form .top-logo p {
    margin-bottom: 30px;
    font-size: 14px;
    color: #000;
}

.my-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.foot-form .form-group {
    position: relative;
}

.my-form .form-group.have-icon span.icon {
    position: absolute;
    right: 5px;
    top: 12px;
}

.foot-form .form-group i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 17px;
}

.foot-form .form-control::placeholder {
    color: #000 !important;
    font-size: 16px;
}

.my-form .custom-select {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #bbbbbb;
    height: 42px;
    background-image: none;
    padding: .375rem .75rem;
}

.my-form .custom-select select {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.file-upload {
    text-align: center;
    font-size: 15px;
}

.file-upload .file-select {
    display: flex;
    border: 0;
    color: #000;
    cursor: pointer;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    border-bottom: 1px solid #bbbbbb;
    height: 42px;
}

.file-upload .file-select .file-select-name {
    line-height: 50px;
    padding: 0 10px;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.my-form .custom-select select:focus {
    outline: none;
    box-shadow: none;
}

.my-form .forget-pass {
    display: flex;
    justify-content: flex-end;
}

.my-form .forget-pass a {
    color: #7ED957;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
}

.my-form .btn {
    background-color: #7ED957;
    padding: 8px 20px;
    border: 1px solid #7ED957;
    color: #000;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 50px;
    border-radius: 25px;
    width: 320px;
    transition: all 0.3s ease-in-out;
}

.my-form .btn:hover {
    background-color: transparent;
    color: #7ED957;
}

.my-form .form-control::placeholder {
    color: #bbbbbb;
}

.my-form .form-footer {
    padding-top: 25px;
}

.my-form .form-footer p {
    font-size: 15px;
    color: #000;
}

.my-form .map-section {
    height: 200px;
}

.my-form .detect-address {
    margin-top: 25px;
}

.my-form .detect-address p {
    color: #7ED957;
}


/*upload*/

.upload-area {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 0px auto;
    border: 1px solid #f7f4e9;
    border-radius: 50%;
    overflow: hidden;
}

.upload-area .preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #D2E6D1;
}

.upload-area .file-upload-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.upload-area .file-upload-wrapper .file-upload-native,
.upload-area .file-upload-wrapper .file-upload-text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #061237;
}

.upload-area .file-upload-wrapper .file-upload-text {
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.upload-area .file-upload-wrapper .file-upload-text.icon {
    opacity: 1;
    font-size: 32px;
    color: #4BC218;
}

.upload-area .file-upload-wrapper .file-upload-text.icon i {
    position: initial !important;
    font-size: 22px;
}

.upload-area .file-upload-wrapper .file-upload-native {
    z-index: 15;
    opacity: 0;
}

.upload-area .file-upload-wrapper .file-upload-native:focus,
.upload-area .file-upload-wrapper .file-upload-native:focus {
    outline: none;
}

.upload-area .file-upload-wrapper input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.upload-block {
    margin: 0 auto 40px;
}

.upload-block .upload_wrap .upload_btn {
    position: relative;
}

.upload-block .upload_wrap .upload_btn .upload_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.upload-block .upload_wrap .upload_btn .upload-text {
    text-align: center;
    display: block;
}

.upload-block .upload_item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5px 5px 0px;
    border: 1px solid #e8e8e8;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.upload-block .upload_item:after {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.upload-block .upload_img {
    width: 100%;
}

.upload-block .upload_del {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #061237;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

.gj-datepicker [role="right-icon"] {
    display: none;
}

.gj-datepicker-bootstrap [role="right-icon"] button {
    position: absolute;
    left: auto;
    right: 5px;
    height: 40px;
    line-height: 40px;
    top: 8px;
    background: transparent;
    border: 0;
    color: #b9b9b9;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-radius: 0px !important;
}

.gj-datepicker-bootstrap [role="right-icon"] button:hover {
    color: #fff;
}

.gj-datepicker-bootstrap [role="right-icon"] button:hover {
    color: #b9b9b9;
}

.stand-link {
    color: #fff;
    border: 1px solid #7ED957;
    background-image: linear-gradient(to right, #72e242, #7ED957);
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 25px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    width: 180px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.stand-link span {
    position: relative;
    z-index: 2;
}

.stand-link:focus {
    outline: none;
    box-shadow: none;
}

.stand-link:hover {
    background-image: linear-gradient(to right, #72e242, #7ED957);
    color: #3a2f1c;
}

.stand-link:before {
    position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: rgba(255, 255, 255, 1);
    transform: skew(50deg);
    transition-duration: 0.5s;
    z-index: 1;
}

.stand-link:hover:before {
    width: 170%;
}


/*modal*/

.modal-header {
    border: 0;
    padding: 1.4rem 1rem;
}

.modal-header .d-status {
    flex: 2;
}

.modal-header h5 {
    flex: 2;
    text-align: center;
    margin-bottom: 12px;
}

.modal-header p {
    text-align: center;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

.modal-header .close {
    padding: 0;
    background-color: #000;
    color: #fff;
    opacity: 1;
    width: 27px;
    height: 27px;
    line-height: 27px;
    border-radius: 50%;
    margin: 8px 25px;
}

.modal-backdrop {
    background-color: #7ED957;
    opacity: 0.8;
}

.modal {
    overflow-y: auto;
}


/*modal*/


/*srart main-header*/

.main-header {
    background-color: #7ED957;
    clip-path: ellipse(105% 100% at 50.55% 0%);
}

.main-header.other-header {
    clip-path: none;
}

.main-header.white-header {
    clip-path: none;
    background-color: #fff;
}

.main-header.other-header2 {
    clip-path: none;
    background: url('../images/resturant-details/back.png') no-repeat center center;
    background-size: cover;
    min-height: 220px;
}

.main-header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-header .top-header .logo img {
    max-width: 100%;
}

.main-header.other-header2 .top-header .logo img {
    filter: grayscale(10) brightness(100);
}

.main-header .top-header .search {
    position: relative;
}

.main-header .top-header .search .form-control {
    border-radius: 20px !important;
    height: 40px;
    padding-right: 30px !important;
}

.main-header .top-header .search i {
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 14px;
    color: #979081;
}

.main-header .top-header .start-now .btn {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 8px 50px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.main-header .top-header .start-now .btn:hover {
    background-color: #fff;
    color: #7ED957;
}

.main-header.other-header2 .icons-head .fl-hd .icon-item a {
    color: #fff;
}


/*===close you=====*/

.main-header .close-you {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-header .close-you .food-img img {
    max-width: 100%;
    animation: move-up 4s linear infinite;
}

.main-header .close-you .exp {
    text-align: center;
}

.main-header .close-you .exp h1 {
    font-size: 30px;
}

.main-header .close-you .exp p {
    color: #fff;
    font-size: 15px;
}

.main-header .close-you .input-group .btn {
    background-color: #000;
    color: #fff;
    border-radius: 0 10px 10px 0 !important;
}

.main-header .close-you .input-group .form-control {
    height: 47px;
    border-radius: 10px 0 0 10px;
}


/*===close you=====*/


/*head-icons*/

.main-header .icons-head .fl-hd {
    display: flex;
    align-items: center;
}

.icons-head .fl-hd .icon-item {
    margin-right: 17px;
}

.icons-head .fl-hd .icon-item a {
    font-size: 22px;
}

.icons-head .fl-hd .dropdown-menu {
    min-width: 20rem;
    padding: 0 12px;
    border-radius: 8px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ded8d8;
}

.icons-head .fl-hd .dropdown-menu .drop-flex a.edit {
    color: #7ED957;
    font-size: 14px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex2 {
    padding: 10px 0;
}

.icons-head .fl-hd .dropdown-menu .drop-flex2 a.edit.diff {
    display: block;
    text-align: center;
    color: #7ED957;
    font-size: 15px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex p {
    font-size: 15px;
    margin-bottom: 5px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex span {
    font-size: 14px;
    margin-bottom: 0;
    color: #989898;
    margin-bottom: 5px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex span.det-key {
    color: #777;
    font-size: 13px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex span.det-value {
    color: rgb(161, 159, 159);
    font-size: 13px;
    margin-right: 15px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex.fol-ord {
    border-bottom: 0;
}

.icons-head .fl-hd .dropdown-menu .drop-flex.fol-ord h5 {
    font-size: 14px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex.fol-ord h5 i {
    color: #7ED957;
    margin-left: 5px;
}

.icons-head .fl-hd .dropdown-menu .map-menu {
    height: 150px;
    width: 100%;
}

.icons-head .fl-hd .dropdown-menu .map-menu a {
    font-size: 15px;
}

.icons-head .fl-hd .dropdown-menu .status-ord li {
    position: relative;
}

.icons-head .fl-hd .dropdown-menu .status-ord li {
    position: relative;
    padding: 10px 40px;
    color: #3CA80E;
    font-weight: 600;
    font-size: 14px;
}

.icons-head .fl-hd .dropdown-menu .status-ord li::before {
    position: absolute;
    right: 0;
    top: 16px;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3CA80E;
}

.icons-head .fl-hd .dropdown-menu .status-ord li::after {
    position: absolute;
    right: 6px;
    top: 37px;
    content: "";
    width: 1px;
    height: 18px;
    border-radius: 50%;
    background-color: #3CA80E;
}

.icons-head .fl-hd .dropdown-menu .status-ord li:last-of-type:after {
    display: none;
}


/*head-icons*/


/*end main-header*/


/*start best-resturant*/

.best-resturant {
    padding-top: 50px;
    padding-bottom: 50px;
}

.best-rest {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.best-rest:hover {
    transform: scale(1.1);
}

.best-rest img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.best-rest a {
    display: block;
    background-color: #7ED957;
    color: #000;
    padding: 7px 30px;
    border-radius: 10px;
    margin-top: -8px;
    font-size: 17px;
}


/*end best-resturant*/


/*start all-you-need*/

.all-need {
    padding-top: 30px;
    padding-bottom: 30px;
}

.all-need .need-div {
    text-align: center;
    margin-bottom: 20px;
}

.all-need .need-div img {
    max-width: 100%;
    margin-bottom: 15px;
}

.all-need .need-div h5 {
    font-size: 17px;
}

.all-need .need-div p {
    font-size: 14px;
}


/*end all-you-need*/


/*start home-cities*/

.home-cities {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: #7ED957;
}

.home-cities .main-title img {
    width: 140px;
    margin-bottom: 15px;
}

.home-cities .shape1 {
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 64px;
    width: 100%;
    z-index: 1;
}

.home-cities .shape2 {
    position: absolute;
    left: 0px;
    top: 0;
    height: 64px;
    width: 100%;
    z-index: 1;
}

.cities-list .cit-list {
    margin-bottom: 20px;
}

.cities-list .cit-list span {
    display: inline-block;
    width: 120px;
    height: 43px;
    line-height: 43px;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}


/*end home-cities*/


/*start download-app*/

.download-app .down-text {
    text-align: center;
}

.download-app .down-text h4 {
    text-align: center;
    font-size: 21px;
}

.download-app .down-text p {
    font-size: 14px;
}

.download-app .down-text .down-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.download-app .down-text .down-btns li {
    margin-bottom: 15px;
}

.download-app .down-text .down-btns li img {
    width: 140px;
    margin-bottom: 10px;
}

.downlaod-app .down-text img {
    width: 120px;
}

.download-app .down-screens img {
    max-width: 100%;
}


/*end download-app*/


/*start footer*/

.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #000;
    clip-path: ellipse(105% 100% at 46.7% 100%);
}

.footer .foot h4 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #fff;
}

.footer .foot ul li {
    margin-bottom: 10px;
}

.footer .foot ul li a {
    font-size: 15px;
    color: #c5bebe;
}

.footer .foot ul.last {
    text-align: center;
}

.footer .foot ul.last img {
    width: 130px;
}

.footer .custom-select {
    background-color: #3A3A3A;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 41px;
}

.footer .custom-select:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    display: block;
    width: 10px;
    height: 10px;
    font-size: 19px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 13px;
    left: 25px;
    z-index: 1;
}

.footer .custom-select select {
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: #000;
}

.footer .custom-select select:focus {
    outline: none;
    box-shadow: none;
}


/*start footer*/


/*start list-icons*/

.midle-icons {
    text-align: center;
}

.midle-icons .top-del {
    margin-bottom: 45px;
    font-size: 19px;
}

.list-icons {
    text-align: center;
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
}

.list-icons .main-icon {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: #3CA80E;
    margin: 0 auto;
}

.list-icons .main-icon span {
    display: block;
    text-align: center;
    color: #fff;
}

.list-icons ul li {
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: #E1F3D9;
}

.list-icons ul li img {
    width: 37px;
    display: block;
    margin: 2px auto;
}

.list-icons ul li span {
    font-size: 14px;
}

.list-icons ul li:nth-of-type(1) {
    top: 67px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-icons ul li:nth-of-type(2) {
    top: 145px;
    left: 50%;
    transform: translate(60%, -50%);
}

.list-icons ul li:nth-of-type(3) {
    top: 145px;
    left: 50%;
    transform: translate(-155%, -50%);
}

.list-icons ul li:nth-of-type(4) {
    top: 283px;
    left: 50%;
    transform: translate(71%, -50%);
}

.list-icons ul li:nth-of-type(5) {
    top: 283px;
    left: 50%;
    transform: translate(-168%, -50%);
}

.list-icons ul li:nth-of-type(6) {
    bottom: -40px;
    left: 50%;
    transform: translate(18%, -50%);
}

.list-icons ul li:nth-of-type(7) {
    bottom: -40px;
    left: 50%;
    transform: translate(-97%, -50%);
}


/*end list-icons*/


/*start near-food*/

.food-near {
    padding-top: 35px;
    padding-bottom: 35px;
}

.second-title {
    display: table;
    position: relative;
}

.second-title::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 60%;
    background-color: #7ED957;
    right: 0;
    top: 4px;
    border-radius: 10px;
    z-index: 1;
}

.second-title h3 {
    position: relative;
    z-index: 2;
    font-size: 22px;
    margin-bottom: 30px;
}

.food-card {
    position: relative;
    background-color: #fff;
    box-shadow: 2px 4px 8px #ccc0c0;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 1;
}

.food-card::before {
    content: " ";
    width: 95%;
    height: 95%;
    z-index: -3;
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 1px;
    border-radius: 12px;
    background: #7ED957;
    outline: 1px solid transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.food-card::after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 50px rgb(166 209 237 / 20%);
    box-shadow: 0 10px 50px rgb(166 209 237 / 20%);
    z-index: 1;
}

.food-card:hover::before {
    -webkit-transform: translateX(-10px) translateY(16px);
    -ms-transform: translateX(-10px) translateY(16px);
    transform: translateX(-10px) translateY(16px);
}

.food-card .img {
    position: relative;
    z-index: 4;
}

.food-card .img img {
    max-width: 100%;
}

.food-card .exp {
    padding: 10px 7px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 4;
}

.food-card .exp .exp-info h4 {
    font-size: 17px;
}

.food-card .exp span {
    font-size: 14px;
    color: #9BA1BE;
}

.food-card .discount {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 0;
    left: 15px;
    background-color: #7ED957;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 0 0 3px 3px;
    z-index: 5;
}


/*end near-food*/


/*start bradcrumb*/

.bradcrumb ul {
    display: flex;
}

.bradcrumb ul li {
    margin-left: 7px;
    font-size: 14px;
    color: #000;
}


/*end bradcrumb*/


/*start prev-orders*/

.prev-orders {
    padding-top: 35px;
    padding-bottom: 35px;
}

.prev-ord-card {
    background-color: #fff;
    box-shadow: 0px 1px 5px #a59d9d;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 20px;
}

.prev-ord-card .media img {
    max-width: 100%;
}

.prev-ord-card .media .media-body {
    margin-right: 10px;
    margin-left: 10px;
}

.prev-ord-card .media .media-body h4 {
    color: #315832;
    font-size: 17px;
    margin-bottom: 15px;
}

.prev-ord-card .media .media-body p {
    font-size: 16px;
    color: #315832;
}

.prev-ord-card .media .media-body p span {
    color: #9BA1BE;
}

.prev-actions {
    display: flex;
    align-items: center;
}

.prev-actions .btn {
    background-color: transparent;
    border: 1px solid #72e242;
    border-radius: 8px;
    width: 150px;
    margin: 0 10px;
    height: 43px;
    color: #000;
}

.prev-actions .btn i {
    color: #72e242;
}


/*=====order details=======*/

@media(min-width: 992px) {
    .order-details .modal-dialog {
        min-width: 800px;
    }
}

.order-details .modal-header h5 {
    flex: 1;
    text-align: start;
}

.order-details .detail-order .or-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-details .detail-order .or-list li span.tit {
    display: inline-block;
    color: #315832;
    font-size: 15px;
    width: 85px;
}

.order-details .detail-order .or-list li span.val {
    display: inline-block;
    color: #707070;
    font-size: 15px;
}

.order-details .detail-order .left-details .prev-actions {
    justify-content: flex-end;
}

.order-details .detail-order .left-details .prev-actions .btn {
    height: 38px;
    font-size: 15px;
}

.order-details .detail-order .bottom-details .right-menu {
    border-left: 1px solid #d4cfcf;
}

.order-details .detail-order .bottom-details ul.right-menu li {
    display: flex;
    align-items: center;
}

.order-details .detail-order .bottom-details ul.right-menu li p {
    font-size: 15px;
    width: 130px;
    margin-left: 30px;
}

.order-details .detail-order .bottom-details ul.right-menu li p span {
    font-size: 15px;
    margin-left: 10px;
}

.order-details .detail-order .bottom-details ul.right-menu li h5 {
    font-size: 15px;
    color: #4BC218;
}

.order-details .detail-order .bottom-details h4.total {
    font-size: 17px;
}

.order-details .detail-order .bottom-details ul.left-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.order-details .detail-order .bottom-details ul.left-menu li span {
    font-weight: 600;
    font-size: 16px;
    color: #315832;
}

.order-details .detail-order .bottom-details ul.left-menu li h5 {
    font-size: 15px;
    color: #4BC218;
}


/*=====order details=======*/


/*=====rate box=======*/

.rate-box {
    text-align: center;
    padding-top: 35px;
}

.rating {
    direction: ltr
}

.rating input {
    float: none;
    opacity: 0;
    display: inline-block;
    position: absolute;
}

.rating label {
    color: #d2ebd4;
    transition: 0.5s;
    display: inline-block;
    font-size: 15px
}

.rating label:hover~label,
.rating input:focus~label,
.rating input:checked~label,
.rating label:hover {
    color: #4BC218;
    cursor: pointer;
}

.rate-box .rate-det {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate-box .rate-det .rate-text h5 {
    font-size: 15px;
}

.rate-box .tips {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.rate-box .tips h5 {
    font-size: 15px;
}

.rate-box .tips .tips-data .form-control {
    height: 45px;
    background-color: #E8E8E8;
    border-radius: 5px;
    border: 0;
}

.rate-box .tips .tips-data {
    display: flex;
    align-items: center;
    width: 100%;
}

.rate-box .tips .tips-data .btn {
    background-color: #72e242;
    padding: 10px;
    display: block;
    width: 100%;
    color: #000;
    border-radius: 5px;
    margin: 5px 7px;
}


/*=====rate box=======*/


/*end prev-orders*/


/*start food-filter*/

.food-filter {
    padding-top: 35px;
    padding-bottom: 35px;
}

.food-filter .filter-right {
    background-color: #fff;
    box-shadow: 0px 0px 12px #e6dddd;
    padding: 10px;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll;
}

.food-filter .filter-right ul li {
    margin-bottom: 15px;
}

.food-filter .filter-right ul li span.icon {
    position: relative;
}

.food-filter .filter-right ul li span.icon img {
    position: relative;
    z-index: 2;
}

.food-filter .filter-right ul li span.icon::after {
    position: absolute;
    content: "";
    background: #7ed957;
    width: 30px;
    height: 30px;
    border-radius: 10px 20px 10px 30px;
    z-index: 1;
    right: 0;
}

.food-filter .food-card .exp span {
    font-size: 13px;
}


/*end food-filter*/


/*pagination*/

.pagination {
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 5px 10px;
    font-size: 17px;
    color: #000;
}

.pagination li i {
    font-size: 21px;
}

.pagination li.prev {
    width: 95px;
    height: 42px;
    line-height: 42px;
    background-color: transparent;
    border: 1px solid #DADADA;
    color: #DADADA;
    text-align: center;
    border-radius: 15px;
}

.pagination li.next {
    width: 95px;
    height: 42px;
    line-height: 42px;
    background-color: #72e242;
    border: 1px solid #72e242;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}


/*pagination*/


/*resturant-details*/

.resturant-details {
    margin-top: -100px;
}

.resturant-details .bradcrumb li a {
    color: #fff;
}

.resturant-details .bradcrumb li i {
    color: #fff;
}

.resturant-details .rest-card {
    background-color: #fff;
    box-shadow: 0 0 10px #9a9797;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.resturant-details .rest-card h4 {
    font-size: 22px;
}

.resturant-details .rest-card span {
    color: #9BA1BE;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

.resturant-details .rest-card p {
    margin-bottom: 0;
    font-size: 15px;
    color: #315832;
}

.resturant-details .rest-card p img {
    margin-left: 5px;
}

.resturant-details .rest-card .love {
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #72e242;
    color: #fff;
    border-radius: 10px;
    border: 0;
    box-shadow: none;
    font-size: 22px;
}

.resturant-details .rest-card .love:focus {
    outline: none;
    box-shadow: none;
}

.resturant-details .retu-filter h4 {
    font-size: 17px;
    margin-bottom: 20px;
}

.resturant-details .retu-filter ul li {
    margin-bottom: 13px;
}

.resturant-details .retu-filter ul li a {
    background-color: transparent;
    transition: all 0.s ease-in-out;
    padding: 0 12px;
    border-radius: 7px;
}

.resturant-details .retu-filter ul li a:hover,
.resturant-details .retu-filter ul li.active a {
    background-color: #72e242;
}

.returant-meals .search {
    position: relative;
    margin-bottom: 15px;
}

.returant-meals .search .form-control {
    background-color: #E8E5E5;
    border-radius: 25px;
    height: 40px;
    border: 0;
    color: #757575;
    padding-right: 45px;
}

.returant-meals .search i {
    position: absolute;
    right: 20px;
    top: 13px;
    color: #757575;
}

.meal-card {
    box-shadow: 0 0 6px #a09898;
    padding: 13px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.meal-card .top-meal {
    display: flex;
    align-items: flex-start;
}

.meal-card .top-meal .media {
    align-items: center;
}

.meal-card .top-meal .media img {
    width: 83px;
}

.meal-card .top-meal .media .media-body {
    margin-left: 7px;
    margin-right: 7px;
}

.meal-card .top-meal .media .media-body span {
    font-size: 17px;
    color: #315832;
}

.meal-card .top-meal .media .media-body p {
    font-size: 13px;
    color: #9BA1BE
}

.meal-card .top-meal .love {
    background-color: transparent;
    background: transparent;
    border: 0;
    padding: 0;
    color: #72e242;
    font-size: 18px;
}

.meal-card .top-meal .love:focus {
    outline: none;
    box-shadow: none;
}

.meal-card .bottom-meal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meal-card .bottom-meal h5.price {
    font-size: 16px;
    color: #72e242;
    margin-bottom: 0;
}

.meal-card .bottom-meal .btn {
    padding: 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background-color: #DEF6D5;
    color: #72e242;
    border-radius: 50%;
    font-size: 17px;
}


/*resturant-details*/


/*add order*/

@media(min-width: 992px) {
    .add-order .modal-dialog {
        max-width: 900px;
    }
}

.add-order .right-add .img img {
    max-width: 100%;
}

.add-order .right-add .exp {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.add-order .right-add .exp .exp-text {
    flex: 1;
}

.add-order .right-add .exp .exp-text h5 {
    font-size: 14px;
    color: #315832;
}

.add-order .right-add .exp .exp-text p {
    margin-bottom: 0;
    font-size: 14px;
    color: #9BA1BE;
}

.add-order .right-add .exp .exp-price h5 {
    font-size: 16px;
    color: #72e242;
}

.add-order .left-add .sizes h4,
.add-order .left-add .extras h4,
.add-order .left-add .notes h4 {
    font-size: 15px;
}

.add-order .left-add .extras h4 {
    color: #315832;
}

.add-order .left-add .ckbox {
    position: relative;
    display: flex;
}

.add-order .left-add .ckbox {
    width: 100%;
    padding: 8px 15px;
}

.add-order .left-add li.ckbox {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.add-order .left-add .ckbox input[type="checkbox"],
.add-order .left-add .ckbox input[type="radio"] {
    opacity: 0;
    margin: 0px 0 0 6px;
}

.add-order .left-add .ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
}

.add-order .left-add .ckbox input[type="radio"]+label:before {
    content: '';
    top: 13px;
    right: 10px;
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ACD1B0;
    background: none;
    padding: 2px;
}

.add-order .left-add .ckbox input[type="checkbox"]+label:before {
    content: '';
    top: 13px;
    right: 10px;
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #ACD1B0;
    background: none;
    padding: 2px;
}

.add-order .left-add .ckbox input[type="checkbox"]:checked+label:before,
.add-order .left-add .ckbox input[type="radio"]:checked+label:before {
    background-color: #72e242;
    background-clip: content-box;
}

.add-order .left-add .ckbox input[type="checkbox"]:checked+label,
.add-order .left-add .ckbox input[type="radio"]:checked+label {
    color: #72e242;
}

.add-order .left-add .ckbox .price h5 {
    font-size: 16px;
    color: #315832;
}

.add-order .left-add .notes textarea.form-control {
    background-color: #F3F9F3;
    border: 1px solid #ACD1B0;
    border-radius: 10px;
    resize: none;
    height: 70px;
}

.resturant-details .your-order {
    background-color: #fff;
    box-shadow: 0 0 10px #9a9797;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.resturant-details .your-order .order-element {
    margin-bottom: 15px;
}

.resturant-details .your-order h6 {
    text-align: center;
    font-size: 16px;
}

.resturant-details .your-order .order-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.resturant-details .your-order .order-flex span {
    font-size: 15px;
}

.resturant-details .your-order .order-flex h5 {
    color: #72e242;
    font-size: 16px;
}

.resturant-details .your-order .order-flex .btn {
    padding: 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background-color: #DEF6D5;
    color: #72e242;
    border-radius: 50%;
    font-size: 17px;
}

.resturant-details .your-order .stand-link {
    width: 100%;
}


/*add order*/


/*static pages*/

.all-static {
    padding-top: 35px;
    padding-bottom: 35px;
}

.all-text .text h4 {
    font-size: 23px;
    color: #72e242;
}

.all-text .text p {
    font-size: 14px;
    color: #000;
    line-height: 1.7;
}

.all-text .img img {
    max-width: 100%;
}

.our-form .form-group h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.our-form .form-group .form-control {
    height: 43px;
}

.our-form .form-group .form-control:focus {
    border-color: #72e242;
}

.our-form .form-group textarea.form-control {
    height: 120px;
    resize: none;
}

#accordion .btn-link {
    color: #000;
}

#accordion .card {
    margin-bottom: 15px;
}

#accordion .card-header {
    padding: .45rem 1.25rem;
}


/*static pages*/


/*favourite*/

.favourite {
    padding-top: 30px;
    padding-bottom: 35px;
}

.favourite .nav-pills {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.favourite .nav-pills .nav-item {
    margin: 10px;
}

.favourite .nav-pills .nav-link {
    width: 200px;
    border: 1px solid #7ED957;
    display: inline-block;
    text-align: center;
    height: 45px;
    background-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #7ED957;
}


/*favourite*/


/*wallet*/

.wallet {
    padding-top: 30px;
    padding-bottom: 30px;
}

.wallet .wallet-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.wallet .wallet-card .wal-img img {
    width: 150px;
}

.wallet .wallet-card .wal-exp {
    margin-right: 25px;
    margin-left: 25px;
}

.wallet .wallet-card .wal-exp h4 {
    color: #72e242;
    font-size: 24px;
}

.wallet .money {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.wallet .money .form-control {
    height: 47px;
    border-radius: 6px;
    flex: 1;
    margin-left: 25px;
}

.wallet .money .btn {
    flex: 1;
    background-color: #4BC218;
    border: 1px solid #4BC218;
    text-align: center;
    color: #fff;
    height: 47px;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.wallet .money .btn:hover {
    background-color: transparent;
    color: #4BC218;
}

.credit-sec {
    padding-top: 25px;
}

.credit-sec .cre-tit span {
    color: #315832;
    font-size: 17px;
    margin-bottom: 20px;
    display: inline-block;
}

.credit-card {
    background-color: #F3F9F3;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.credit-card h4 {
    font-size: 16px;
    color: #72e242;
}

.credit-card .cre-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.credit-card .cre-flex:last-of-type {
    margin-bottom: 0;
}

.credit-card .cre-flex .name i {
    color: #72e242;
}

.credit-card .cre-flex .date {
    font-size: 15px;
    color: #9BA1BE;
}

.credit-card .cre-flex .name span {
    color: #3CA80E;
    margin: 0 5px;
    font-size: 17px;
}

.credit-sec .btn {
    background-color: #4BC218;
    border: 1px solid #4BC218;
    text-align: center;
    color: #fff;
    height: 47px;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 130px;
}

.credit-sec .btn:hover {
    background-color: transparent;
    color: #4BC218;
}


/*wallet*/


/*order-summery*/

.order-summery {
    padding-top: 30px;
    padding-bottom: 30px;
}

.order-summery .tit-sum,
.order-summery .res-tit {
    margin-bottom: 20px;
}

.order-summery .tit-sum i {
    font-size: 19px;
}

.order-summery .tit-sum span {
    font-size: 19px;
    display: inline-block;
    margin: 0 5px;
}

.order-summery .res-tit h4 {
    font-size: 24px;
}

.order-summery .ord-num h5 {
    font-size: 19px;
}

.order-summery .ord-num h5 span {
    font-size: 14px;
    font-weight: 400 !important;
    margin-left: 10px;
}

.order-summery .order-element {
    margin-bottom: 25px;
}

.order-summery .order-element .order-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
}

.order-summery .order-element .order-flex span {
    font-size: 15px;
}

.order-summery .order-element .order-flex h5 {
    color: #72e242;
    font-size: 18px;
}

.order-summery .order-element .order-flex .btn {
    padding: 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background-color: #DEF6D5;
    color: #72e242;
    border-radius: 50%;
    font-size: 17px;
}

.order-summery .order-address #map {
    height: 250px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.order-summery .order-address #map .marker {
    width: 60px;
}

.bottom-items .media i {
    color: #4BC218;
    font-size: 21px;
}

.bottom-items {
    margin-bottom: 30px;
}

.bottom-items .media .media-body {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b5b1b1;
}

.bottom-items .media .media-body .body-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.bottom-items .media .media-body .body-text span {
    font-size: 15px;
    color: #757575;
    display: inline-block;
    margin-bottom: 10px !important;
}

.bottom-items .media .media-body .btn {
    padding: 0;
}

.bottom-items .media .media-body .btn:focus {
    outline: none;
    box-shadow: none;
}

.bottom-items .media .media-body .btn i {
    font-size: 21px;
    color: #757575;
}

.way-pay {
    padding-top: 20px;
}

.way-pay h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.the-summery {
    background-color: #fff;
    box-shadow: 0 0 10px #c3bebe;
    padding: 15px;
    border-radius: 10px;
}

.the-summery .top-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedddd;
    padding: 10px 0;
}

.the-summery .top-head h5 {
    font-size: 16px;
}

.the-summery .top-head img {
    width: 50px;
}

.the-summery .flex-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.the-summery .flex-total span {
    font-size: 15px;
}

.the-summery .flex-total h5 {
    font-size: 15px;
}

.the-summery .stand-link {
    width: 100%;
}

@media(min-width: 992px) {
    .order-time .modal-dialog {
        min-width: 800px;
    }
}


/*========order-time=======*/

.order-time .ord-box {
    text-align: start;
}

.order-time .ord-box h5 {
    font-size: 15px;
    margin-bottom: 20px;
}

.order-time .ord-box h5 i {
    margin-left: 6px;
    font-size: 19px;
    color: #72e242;
}

.order-time .ord-box .box-data {
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 17%);
    padding: 15px;
    border-radius: 8px;
}

.order-time .ord-box .box-data ul li {
    margin-bottom: 10px;
}

.order-time .ord-box .box-data ul li input {
    opacity: 0;
    position: absolute;
}

.order-time .ord-box .box-data ul li label {
    font-size: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.order-time .ord-box .box-data ul li input:checked+label {
    font-weight: 600;
}


/*========order-time=======*/


/*========order-send=======*/

.order-send {
    padding-bottom: 30px;
}

.order-send .image img {
    max-width: 100%;
    margin-bottom: 15px;
}

.order-send h4 {
    font-size: 18px;
}


/*========order-send=======*/


/*order-summery*/

#scroll-top {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #3a2f1c;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 10px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    cursor: pointer;
}


/*loading*/

.load-img img {
    animation: pulseImg 4s linear infinite;
    width: 150px;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0px;
    left: 0px;
    background: #7eda56;
}

.load-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes pulseImg {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.load-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
}

.load-icon img {
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*loading*/

@media (min-width: 992px) and (max-width: 1199px) {
    /* .navbar .navbar-nav .diff a {
        padding: 7px 16px;
    }
    .navbar .navbar-brand img {
        width: 70px;
        margin-left: 5px;
    }
    .navbar .navbar-brand,
    .navbar .navbar-nav .nav-item a {
        font-size: 12px;
    } */
}

@media (max-width: 992px) {
    /* .navbar-nav .nav-link {
        text-align: center;
        font-size: 21px;
        margin-bottom: 8px;
    } */
}

@media (max-width: 768px) {}


/*animation*/

@-webkit-keyframes my-anim {
    0%,
    100% {
        -webkit-transform: translate(0, -30px) rotate(0);
    }
    25% {
        -webkit-transform: translate(-15px, 0) rotate(10deg);
    }
    50% {
        -webkit-transform: translate(0, 30px) rotate(0);
    }
    75% {
        -webkit-transform: translate(15px, 0) rotate(-10deg);
    }
}

@-moz-keyframes my-anim {
    0%,
    100% {
        -webkit-transform: translate(0, -30px) rotate(0);
    }
    25% {
        -webkit-transform: translate(-15px, 0) rotate(10deg);
    }
    50% {
        -webkit-transform: translate(0, 30px) rotate(0);
    }
    75% {
        -webkit-transform: translate(15px, 0) rotate(-10deg);
    }
}

@-o-keyframes my-anim {
    0%,
    100% {
        -webkit-transform: translate(0, -30px) rotate(0);
    }
    25% {
        -webkit-transform: translate(-15px, 0) rotate(10deg);
    }
    50% {
        -webkit-transform: translate(0, 30px) rotate(0);
    }
    75% {
        -webkit-transform: translate(15px, 0) rotate(-10deg);
    }
}

@keyframes my-anim {
    0%,
    100% {
        -webkit-transform: translate(0, -30px) rotate(0);
    }
    25% {
        -webkit-transform: translate(-15px, 0) rotate(10deg);
    }
    50% {
        -webkit-transform: translate(0, 30px) rotate(0);
    }
    75% {
        -webkit-transform: translate(15px, 0) rotate(-10deg);
    }
}

@keyframes starMover {
    0% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
    }
    30% {
        -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
        transform: translateY(30px) translateX(50px) rotate(15deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
    50% {
        -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
        transform: translateY(50px) translateX(100px) rotate(45deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }
    80% {
        -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
        transform: translateY(30px) translateX(50px) rotate(15deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }
    100% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes move-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes moveCloud {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(250px, 0);
    }
}

@keyframes moveCloud {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(250px, 0);
    }
}

.check svg {
    width: 100px;
}

.check path,
.check polyline {
    fill: none;
    stroke: green;
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.check .circle {
    stroke-dasharray: 1260;
    animation: circle 2s ease-out infinite;
}

.check .check {
    stroke-dasharray: 430;
    animation: check 2s ease-in infinite;
}

@keyframes circle {
    0%,
    40% {
        stroke-dashoffset: -1260;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes check {
    0% {
        stroke-dashoffset: 430;
    }
    40% {
        stroke-dashoffset: 0;
    }
}