.owl-theme .owl-dots {
    left: auto;
    right: 0;
}

.main-title h4::after {
    right: auto;
    left: 0;
}

.show-all a::before {
    margin-right: 0;
    margin-left: -25px;
}

.show-all a:after {
    margin-right: 0;
    margin-left: 5px;
}


/*my form*/

.my-form .form-group.have-icon .form-control {
    padding-right: 0;
    padding-left: 29px;
}

.my-form .form-group.have-icon i {
    right: 0;
    left: 5px;
}

.my-form .form-group .input-group {
    padding: 0px 15px 0 0px;
}

.foot-form .form-group i {
    left: auto;
    right: 10px;
}


/*my form*/


/*srart main-header*/

.main-header .top-header .search .form-control {
    padding-right: 0 !important;
    padding-left: 30px !important;
}

.main-header .top-header .search i {
    right: auto;
    left: 10px;
}

.main-header .close-you .input-group .form-control {
    height: 47px;
    border-radius: 0 10px 1px 0px;
}


/*srart main-header*/


/*head-icons*/

.icons-head .fl-hd .dropdown-menu .drop-flex span.det-value {
    margin-right: 0;
    margin-left: 15px;
}

.icons-head .fl-hd .dropdown-menu .drop-flex.fol-ord h5 i {
    margin-left: 0;
    margin-right: 5px;
}

.icons-head .fl-hd .dropdown-menu .status-ord li::before {
    right: auto;
    left: 0;
}

.icons-head .fl-hd .dropdown-menu .status-ord li::after {
    left: 6px;
    right: auto;
}


/*head-icons*/


/*start all-you-need*/

.home-cities .shape1 {
    left: auto;
    right: 0;
}

.home-cities .shape2 {
    right: 0px;
    left: auto;
}


/*end all-you-need*/


/*start near-food*/

.second-title::after {
    right: auto;
    left: 0;
}

.food-card::before {
    right: 1px;
    left: auto;
}

.food-card::after {
    left: auto;
    right: 0;
}

.food-card .discount {
    right: 15px;
    left: auto;
    border-radius: 3px 3px 0px 0px;
}


/*end near-food*/


/*start bradcrumb*/

.bradcrumb ul li {
    margin-left: 0;
    margin-right: 7px;
}


/*end bradcrumb*/


/*order-details*/

.order-details .detail-order .bottom-details ul.right-menu li p span {
    margin-left: 0;
    margin-right: 10px;
}


/*order-details*/


/*rating*/

.rating {
    direction: ltr
}


/*rating*/


/*start food-filter*/

.food-filter .filter-right ul li span.icon::after {
    border-radius: 20px 10px 30px 10px;
    right: auto;
    left: 0;
}


/*end food-filter*/


/*resturant details*/

.resturant-details .rest-card p img {
    margin-left: 0;
    margin-right: 5px;
}

.returant-meals .search i {
    left: 20px;
    right: auto;
}

.add-order .left-add .ckbox input[type="radio"]+label:before {
    right: auto;
    left: 10px;
}

.add-order .left-add .ckbox input[type="checkbox"]+label:before {
    right: auto;
    left: 10px;
}


/*resturant details*/